*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
/* common styles */
.text-primary{
    color: #FD6E0A;
}
.dark-2{
   color:#474747;
}
.btn-primary{
    border-radius: 5px;

    background: rgb(253, 110, 10);
    font-weight: bold;
    color: white;
    padding: 10px 25px;
    border: none;
}
.btn-primary:hover{
  background-color: red;
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;

}

.nav-title{
    font-size: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px; 
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}